.DS_Store
.gradle/
.kotlin/
.idea/
build/
**/build/
local.properties
androidApp/google-services.json
wearApp/google-services.json
apple/iosApp/GoogleService-Info.plist
*.keystore
apple/Config/LocalSecrets.xcconfig
*.iml
DerivedData/
xcuserdata/
pepk.jar
encryption_public_key.pem
play/
play.zip
